# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List few open source Data Science IDEs in a Table
- Evaluating arithmatic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. seadorn
4. matplotlib
5. scikit-learn

|Data Science Tools|
--------------------
|Jupyter Notebook|
|JupyterLab|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tharanga Nandasena